/* hero */

.site-hero {
    display: flex;
    background-image: url(../assets/branding/Galllll.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 90vh;
    box-shadow: 8px 3px 3px 8px rgb(0, 0, 0, 3);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text {
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.hero-text h4 {
    font-size: 2.5em;
}

.hero-text h2 {
    font-size: 5em;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 h1 {
    text-align: center;
}

 .outer-grid {
    display: flex;
    align-content: center;
    padding: 0 4px;
    justify-content:center;
}

 .inner-grid {
    flex: 25%;
    max-width: 25%;
    padding:  4px;
 }

 .inner-grid img {
    margin-top: 15px;
    width: 100%;
    padding: 5px;
    height: 30%;
 }

 #Alien {
    color: rgb(54, 214, 54);
 }


 
 .carousel-inner {
   padding: 25px;
 }

 .Caro {
   height: 50em;
 }

 

 







 /* @media screen and (max-width: 800px) {
    .inner-grid {
       flex: 50%;
       max-width: 50%;
    }
 }
 @media screen and (max-width: 600px) {
    .inner-grid {
       flex: 100%;
       max-width: 100%;
    }
 } */