@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

input:invalid {
    border: 2px solid rgb(255, 206, 116);
}

input:valid {
    border: 2px solid rgb(195, 157, 138);
}

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVBktWFXTpivfUaDwchguC5ER0BiNrybb_id3OxBEDJhUvU6t67sWMT1TzxdKblBPRCLA&usqp=CAU");
}

form {
    padding: 15px;
    text-align: center;
    
}

fieldset {
    font-size: 25px;
    padding: 30px;
    color: rgb(195, 157, 138);
    background-color: rgb(255, 255, 255);
    border: solid rgb(247, 230, 207);
    border-radius: 10px;
    width: 300px;
    margin: auto;
}

h1 {
    letter-spacing: 5px;
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: bolder;
    padding: 5px;
}
select {
    width: 310px;
    padding: 10px;
    color: rgb(170, 169, 169);
    border: solid 2px rgb(195, 157, 138);
}
#name {
    width: 285px;
    margin: auto;
    padding: 10px;
}

#email {
    width: 285px;
    margin: auto;
    padding: 10px;
}

#Mess {
    border: 2px solid rgb(195, 157, 138);
    max-width: 290px;
    min-width: 289px;
    max-height: 500px;
    padding: 10px;
}

label {
    font-size: 20px;
}

div {
    margin-left: 12px;
}

div :hover {
    background-color: rgb(195, 157, 138);
}

input {
    padding: 10px;
}