* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #EEE;
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

#image1 {
    background-image: url(/Masonry/Assets/Images/Ball1.jpeg);
    background-size: cover;
}

#image2 {
  background-image: url(/Masonry/Assets/Images/Ball2.jpeg);
  background-size: cover;
}

#image3 {
  background-image: url(/Masonry/Assets/Images/Ball3.jpeg);
  background-size: cover;
}

#image4 {
  background-image: url(/Masonry/Assets/Images/Ball4.jpeg);
  background-size: cover;
}

#image5 {
  background-image: url(/Masonry/Assets/Images/Ball5.jpeg);
  background-size: cover;
}

#image6 {
  background-image: url(/Masonry/Assets/Images/Ball6.jpg);
  background-size: cover;
}

#image7 {
  background-image: url(/Masonry/Assets/Images/Ball7.jpeg);
  background-size: cover;
}

#image8 {
  background-image: url(/Masonry/Assets/Images/Ball8.jpeg);
  background-size: cover;
}