.outer-grid {
    display: flex;
    align-content: center;
    padding: 0 4px;
    justify-content:center;
}

 .inner-grid {
    flex: 25%;
    max-width: 25%;
    padding:  4px;
 }

 .inner-grid img {
    margin-top: 15px;
    width: 100%;
    padding: 5px;
    height: 30%;
 }
