body {
    margin: 0;
    
}

#Christmas {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    color: rgb(226, 19, 19);
    background-color: rgb(6, 68, 6);
    font-family: 'Mountains of Christmas', cursive;
}

#hero {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/Week26Countdown/Assets/Images/annie-spratt-QKo-op_gR9I-unsplash.jpg);
    color: rgb(6, 87, 6);
    font-family: 'Mountains of Christmas', cursive;
}

